/* notification bar */

.messageBarCommon {
    background-color: white;
    border-bottom: 2px solid;
    font-size: 13px;
    font-weight: bold;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 300;
}

.messageBarWarning {
    color: #FF6027;
    border-bottom-color: #FF6027;
}

#msgContainer {
    margin-right: 10px;
    margin-bottom: 5px;
}

#notificationMessage {
    padding: 7px 0 7px 50px;
}

#closeMsg {
    padding-left: 15px;
    font-weight: normal;
    font-size: 0.85em;
}

#topMessageBar {
    cursor: pointer;
}

/* form errors */
.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #FF6027;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: inherit;
    margin-bottom: 0;
}

.control-group.error .help-block, .control-group.error .help-inline {
    color: #FF6027;
}

ul.help-inline {
    margin-left: 10px;
    clear: left;
}

.help-inline {
    font-size: 95%;
    padding-left: 5px;
}

.submit.button {
    display: block;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.bottom-spacer {
    margin-bottom: 10px;
}