.item-title {
    font-weight: normal;
}

.toggle_container ul li {
    padding-bottom: 0;
}

.toggle_container ul {
    margin-left: 15px;
    margin-top: 10px;
}

.toggle_container ol {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    text-align: justify;
}