/* link color */
a, a:visited, .colortext, .colortext a, .colortext a:visited{color:#29a7ae}

/* dropcap */
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#29a7ae}
.dropcap2, .circle{background:#29a7ae; color:#fff;}		
.dropcap3{	background:#29a7ae; color:#fff;}

/* highlight */
.highlight1{background:#29a7ae; color:#fff;}

/* accordion */
h2.accordion-title{ color:#29a7ae;}

/* blog */
.posttitle a:hover{color:#29a7ae}
.postmonth {
    background:#29a7ae;
}
.entry-utility a, .entry-utility a:visited{color:#29a7ae;}

.wp-pagenavi .current, .wp-pagenavi a:hover{color:#fff; border:solid 1px #29a7ae; background:#29a7ae}

/* portfolio */
#filter li a:hover, #filter li.selected-1 a{color:#29a7ae; border-bottom:3px solid #dedede;}

/* sidebar */
#sidebar li li a{ color:#29a7ae;}
#sidebar .rp-widget li h3 a{color:#29a7ae;}
