/* link color */
a, a:visited, .colortext, .colortext a, .colortext a:visited{color:#558423}

/* dropcap */
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#558423}
.dropcap2, .circle{background:#558423; color:#fff;}		
.dropcap3{	background:#558423; color:#fff;}

/* highlight */
.highlight1{background:#558423; color:#fff;}

/* accordion */
h2.accordion-title{ color:#558423;}

/* blog */
.posttitle a:hover{color:#558423}
.postmonth {
    background:#558423;
}
.entry-utility a, .entry-utility a:visited{color:#558423;}

.wp-pagenavi .current, .wp-pagenavi a:hover{color:#fff; border:solid 1px #558423; background:#558423}

/* portfolio */
#filter li a:hover, #filter li.selected-1 a{color:#558423; border-bottom:3px solid #dedede;}

/* sidebar */
#sidebar li li a{ color:#558423;}
#sidebar .rp-widget li h3 a{color:#558423;}
