/* link color */
a, a:visited, .colortext, .colortext a, .colortext a:visited{color:#7e8812}

/* dropcap */
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#7e8812}
.dropcap2, .circle{background:#7e8812; color:#fff;}		
.dropcap3{	background:#7e8812; color:#fff;}

/* highlight */
.highlight1{background:#7e8812; color:#fff;}

/* accordion */
h2.accordion-title{ color:#7e8812;}

/* blog */
.posttitle a:hover{color:#7e8812}
.postmonth {
    background:#7e8812;
}
.entry-utility a, .entry-utility a:visited{color:#7e8812;}

.wp-pagenavi .current, .wp-pagenavi a:hover{color:#fff; border:solid 1px #7e8812; background:#7e8812}

/* portfolio */
#filter li a:hover, #filter li.selected-1 a{color:#7e8812; border-bottom:3px solid #dedede;}

/* sidebar */
#sidebar li li a{ color:#7e8812;}
#sidebar .rp-widget li h3 a{color:#7e8812;}
