/* link color */
a, a:visited, .colortext, .colortext a, .colortext a:visited{color:#cb3434}

/* dropcap */
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#cb3434}
.dropcap2, .circle{background:#cb3434; color:#fff;}		
.dropcap3{	background:#cb3434; color:#fff;}

/* highlight */
.highlight1{background:#cb3434; color:#fff;}

/* accordion */
h2.accordion-title{ color:#cb3434;}

/* blog */
.posttitle a:hover{color:#cb3434}
.postmonth {
    background:#cb3434;
}
.entry-utility a, .entry-utility a:visited{color:#cb3434;}

.wp-pagenavi .current, .wp-pagenavi a:hover{color:#fff; border:solid 1px #cb3434; background:#cb3434}

/* portfolio */
#filter li a:hover, #filter li.selected-1 a{color:#cb3434; border-bottom:3px solid #dedede;}

/* sidebar */
#sidebar li li a{ color:#cb3434;}
#sidebar .rp-widget li h3 a{color:#cb3434;}
